<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/argon-dashboard.css') }}">
        <style>
            .content-wrapper {

                margin-top: 5%;
                margin-left: 20%;
            }
        </style>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('assets/js/argon-dashboard.min.js') }}"></script>
        <script src="{{ asset('assets/js/argon-dashboard.js') }}"></script>
    {% endblock %}
</head>
<body style="background-color: #efefef">
{% block sidebar %}
    <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4" id="sidenav-main">
        <div class="sidenav-header">
            <a class="navbar-brand m-0" target="_blank">
                <img src="{{ asset('assets/img/favicon.png') }}" width="26px" height="26px" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold">Smart Pharmacy</span>
            </a>
        </div>
        <hr class="horizontal dark mt-0">
        <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
            <ul class="navbar-nav m-2">
                {% if app.user and app.user.role == "ADMIN" %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('user') }}">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-tv-2 text-dark text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Users</span>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('home') }}">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-tv-2 text-dark text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('medicament') }}">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-tv-2 text-dark text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Medicaments</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('ordonnance') }}">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-tv-2 text-dark text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Ordonnances</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('medecin') }}">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-tv-2 text-dark text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Medecins</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('bon_de_commande') }}">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-tv-2 text-dark text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Bon de Commande</span>
                    </a>
                </li>
                <hr class="horizontal dark ">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('app_logout') }}">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-tv-2 text-dark text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Logout</span>
                    </a>
                </li>
            </ul>

        </div>


    </aside>

{% endblock %}
<div class="content-wrapper" >
    {% block body %}{% endblock %}
</div>
</body>
</html>
